<html>
<head>
<title>Apartamento Bom Retiro</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table id="Tabela_01" width="600" height="1128" border="0" cellpadding="0" cellspacing="0" align="center">
	<tr>
		<td>
			<a href=""><img src="http://www.apartamentobomretiro.com.br/imagens/mail-mkt_01.jpg" width="600" height="360" alt="Apartamento Bom Retiro"></a>
		</td>
	</tr>
	<tr>
		<td>
			<a href=""><img src="http://www.apartamentobomretiro.com.br/imagens/mail-mkt_02.jpg" width="600" height="370" alt="Apartamento Bom Retiro"></a>
		</td>
	</tr>
	<tr>
		<td>
			<a href=""><img src="http://www.apartamentobomretiro.com.br/imagens/mail-mkt_03.jpg" width="600" height="398" alt="Apartamento Bom Retiro"></a>
		</td>
	</tr>
</table>
<!-- End Save for Web Slices -->
</body>
</html>